/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 14, 2016, 3:41:11 PM
    Author     : apprentice
*/

body {
    text-align: center;
}

#unitOptions {
    margin-bottom: 20px;
}

#conversionOptions {
    display: none;
}

.warning-text {
    color: red;
    padding-bottom: 5px;
}