<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
">
    <bean id = "flooringCustomerUI" class = "com.sg.flooringmastery.ui.FlooringCustomerUI" />
    <bean id = "flooringAdminUI" class = "com.sg.flooringmastery.ui.FlooringAdminUI" />
    <bean id = "flooringListProductDAO" class = "com.sg.flooringmastery.dao.FlooringArrayListProdDAO" />
    <bean id = "flooringListDemoDAO" class = "com.sg.flooringmastery.dao.FlooringArrayListDemoDAO" />
    <bean id = "flooringTaxRatesProd" class = "com.sg.flooringmastery.dao.FlooringTaxRatesProdDAO" />
    <bean id = "flooringInventoryProd" class = "com.sg.flooringmastery.dao.FlooringInventoryProdDAO" />
    
    <bean id = "flooringController" class = "com.sg.flooringmastery.controller.FlooringController">
        <constructor-arg ref = "flooringListProductDAO" />
        <constructor-arg ref = "flooringCustomerUI" />
        <constructor-arg ref = "flooringInventoryProd" />
        <constructor-arg ref = "flooringTaxRatesProd" />
    </bean>

</beans>
